/* ----------- Global Styles ----------- */
*{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  height: 100%;
  width: 100%;
  background-color: #221d1d;       /* Soft light grey – premium look */
  color: #ffff;                     /* Deep black for clean contrast */
}

/* ----------- Main Container ----------- */

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

h1 {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 40px;  
  letter-spacing: -1px;
}

/* ----------- Users Grid ----------- */

.users-container {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
}
